/* 
    Created on : 05.10.2017, 17:59:12
    Author     : manuel müller <manuel.mueller@geekinbusiness.de>
*/
body{
    padding: 0;
    margin: 0;
}

.box{
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid limegreen;
    border-color: black;
    border-radius: 5px;
    
    background-color: lightblue;
}
.boxheader{
    
    position: relative;
    bottom: 1.3em;
    background-color: lightblue;
    border-radius: 5px;
    padding: 3px;
   width: fit-content;
}

.classicTable{
    width: 100%;
    text-align: center;
    background-color: lightskyblue;
    color: yellow;
    border: 1px solid black;
    border-color: black;
    border-collapse: collapse;
}

.classicTable thead{
    background-color: darkcyan;
    color: white;
}

.classicTable tr:nth-child(2n){
    background-color: darkblue;
}

.classicTable td, .classicTable th{
    border: 1px solid black;
    padding: 5px;
}

.niceform label{
    float: left;
    min-width: 10vw;
}


.niceform ul{
    list-style: none;
}

.niceform li{
    margin-bottom: 5px;
}

.button{
    padding: 10px;
    border-radius: 20px;
    background-color: red;
}

a{
    color: black;
     text-decoration: none;
}

.genericButton{
    height: 3em;
    width: 3em;
}
/*
    background-image:url("image/Taferl_RBLS.svg");
    background-size: contain;
}

.addButton{
    background-image:url("image/plus.svg");
    background-size: contain;
}

.editButton{
    background-image:url("image/edit.svg");
    
}

.deleteButton{
    background-image:url("image/trash.svg");
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}*/

