/* 
    Created on : 21.11.2017, 17:35:40
    Author     : manuel müller <manuel.mueller@geekinbusiness.de>
*/
body{
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: lightcoral;
}

.container{
    border:solid 1px black;
    background-color: aquamarine;
}

.content{
    background-color: aliceblue;
}

.nav-link,.tab-content,tab-pane{
    background-color: lightcyan;
}
